.main-part-container {
    background-color: var(--dark-blue-main-bg);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 70px;
    justify-items: center; 
    height: 500px;
    margin-bottom: 200px;
}

